[Unit]
Description=Block-explorer
After=network.target

[Service]
ExecStart=/bin/bash explorer.sh
WorkingDirectory=/home/nodo/execScripts/
Type=exec
Restart=on-failure
RestartSec=300
User=monero

[Install]
WantedBy=multi-user.target
