[Unit]
Description=LibreTranslate
After=network.target

[Service]
ExecStart=/home/nodo/.local/bin/libretranslate --disable-web-ui --update-models --host 127.0.0.1 --port 5123
WorkingDirectory=/home/nodo/.local/pipx/venvs/libretranslate
Type=exec
Restart=always
RestartSec=5
User=nodo
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target

