[Unit]
Description=Monero RPC Wallet
After=network.target

[Service]
ExecStart=/bin/bash /home/nodo/execScripts/monero-wallet-rpc.sh
ExecStartPre=+/bin/bash /home/nodo/execScripts/monero-wallet-rpc-pre.sh
WorkingDirectory=/opt/moneropay
Type=exec
Restart=always
RestartSec=30
User=moneropay
Group=moneropay
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
